﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="data-card dc-@ViewData["type"]">
    <div class="row">
        <div class="col-12">
            @ViewData["card_title"]
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @ViewData["card_description"]
        </div>
    </div>
</div>