﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card-container-column-header">
    @ViewData["HeaderTitle"]
    <div class="form">
        <div class="row">
            <div class="col-12">
                <label for="title_@ViewData["HeaderType"]">Title</label>
                <input id="title_@ViewData["HeaderType"]" name="title" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="description_@ViewData["HeaderType"]">Description</label>
                <input id="description_@ViewData["HeaderType"]" name="description" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary event-add-card">Add</button>
            </div>
        </div>
    </div>
</div>