﻿@{
    ViewData["Title"] = "Home Page";
    ViewData["Email"] = "user1";
    ViewData["Password"] = "1234";
    ViewData["Cards"] = CardModel.GetAll((string)ViewData["Email"], (string)ViewData["Password"]);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col col-xxl-3 col-xl-3 col-lg-3 col-sm-6 col-xs-12 card-container" data-id="pending">
            @await Html.PartialAsync(
                "/Views/Shared/_HeaderPartial.cshtml",
                new ViewDataDictionary(ViewData) {
                    { "HeaderTitle", "Pending" },
                    { "HeaderType", "pending" },
                }
            )
            @foreach (var item in ViewData["Cards"] as CardModel[])
            {
                @if (item.status == 0)
                {
                    @await Html.PartialAsync(
                        "/Views/Shared/_CardPartial.cshtml",
                        new ViewDataDictionary(ViewData) {
                            { "type", "pending" },
                            { "card_title", item.title },
                            { "card_description", item.description }
                        }
                    )
                }
            }
        </div>
        <div class="col col-xxl-3 col-xl-3 col-lg-3 col-sm-6 col-xs-12" data-id="progress">
            @await Html.PartialAsync(
                "/Views/Shared/_HeaderPartial.cshtml",
                new ViewDataDictionary(ViewData) {
                    { "HeaderTitle", "Progress" },
                    { "HeaderType", "progress" },
                }
            )
            @foreach (var item in ViewData["Cards"] as CardModel[])
            {
                @if (item.status == 1)
                {
                    @await Html.PartialAsync(
                        "/Views/Shared/_CardPartial.cshtml",
                        new ViewDataDictionary(ViewData) {
                            { "type", "progress" },
                            { "card_title", item.title },
                            { "card_description", item.description }
                        }
                    )
                }
            }
        </div>
        <div class="col col-xxl-3 col-xl-3 col-lg-3 col-sm-6 col-xs-12" data-id="blocked">
            @await Html.PartialAsync(
                "/Views/Shared/_HeaderPartial.cshtml",
                new ViewDataDictionary(ViewData) {
                    { "HeaderTitle", "Blocked" },
                    { "HeaderType", "blocked" },
                }
            )
            @foreach (var item in ViewData["Cards"] as CardModel[])
            {
                @if (item.status == 2)
                {
                    @await Html.PartialAsync(
                        "/Views/Shared/_CardPartial.cshtml",
                        new ViewDataDictionary(ViewData) {
                            { "type", "blocked" },
                            { "card_title", item.title },
                            { "card_description", item.description }
                        }
                    )
                }
            }
        </div>
        <div class="col col-xxl-3 col-xl-3 col-lg-3 col-sm-6 col-xs-12" data-id="done">
            @await Html.PartialAsync(
                "/Views/Shared/_HeaderPartial.cshtml",
                new ViewDataDictionary(ViewData) {
                    { "HeaderTitle", "Done" },
                    { "HeaderType", "done" },
                }
            )
            @foreach (var item in ViewData["Cards"] as CardModel[])
            {
                @if (item.status == 3)
                {
                    @await Html.PartialAsync(
                        "/Views/Shared/_CardPartial.cshtml",
                        new ViewDataDictionary(ViewData) {
                            { "type", "done" },
                            { "card_title", item.title },
                            { "card_description", item.description }
                        }
                    )
                }
            }
        </div>
    </div>
</div>